@use 'base/vars';
@use 'base/mixins';

.bar {
    display: none;

    @include mixins.tablet { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        @include mixins.tablet { 
            display: flex;
            gap: 4rem; 
        }

    }

    &__link {
        color: vars.$color_white;
    }

    &__name {
        color: vars.$color_white;
        margin: 0;
    }

}