@use 'base/vars';
@use 'base/mixins';

.destinations {

    &__grid {
        @include mixins.grid(1, 2rem);
        @include mixins.tablet { 
            @include mixins.grid(2, 2rem);
        }
        @include mixins.desktop { 
            @include mixins.grid(4, 2rem);
        }
    }
}

.destination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    &__image {
        width: 14rem;
    }

    &__name, 
    &__distance {
        margin: 0;
    }
}