// Fuentes
$font_principal: 'Lexend', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$color_primary: #e8505b;
$color_secondary: rgb(189, 30, 89); 
$color_black: #000;
$color_white: #FFFFFF;
$color_grey: #686868;
$color_grey_light: #e1e1e1;

$spacing: 5rem;
